<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.saa.demo.mapper.McpMarketMapper">

    <select id="selectByStatus" resultType="cn.saa.demo.entity.McpMarket">
        SELECT * FROM mcp_market
        WHERE status = #{status}
        ORDER BY create_time DESC
    </select>

    <select id="selectByNameLike" resultType="cn.saa.demo.entity.McpMarket">
        SELECT * FROM mcp_market
        WHERE name LIKE CONCAT('%', #{name}, '%')
        ORDER BY create_time DESC
    </select>

</mapper>

